:root {
  --blue: #4a89ef;
  --white: #fff;
  --gray: #a7a7a7;
  --bg-gray: #efefef;
  --state-complete: #f7f7f7;
  --state-interrupted: #ffe9dd;
  --state-transfer: #f1fffa;
  --state-paused: #fbffd8;
}

body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: var(--bg-gray);
  min-width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
@media (pointer: none), (pointer: coarse) {
  body {
    min-width: unset;
  }
}
header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  white-space: nowrap;
}
header > span {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  text-align: center;
}
[data-command] {
  cursor: pointer;
}

#clipboard {
  position: absolute;
}
.hidden {
  display: none;
}
#entries {
  flex: 1;
  overflow: auto;
  position: relative;
}
#entries:empty::before {
  content: 'Files you download appear here';
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.entry {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-row-gap: 10px;
  background-color: var(--white);
  margin: 10px;
  padding: 10px;
}
.entry[data-state=complete] {
  background-color: var(--state-complete);
}
.entry[data-state=interrupted] {
  background-color: var(--state-interrupted);
}
.entry[data-paused=true][data-state="in_progress"] {
  background-color: var(--state-paused);
}
.entry[data-state="transfer"] {
  background-color: var(--state-transfer);
}
.entry > img {
  grid-row-start: 1;
  grid-row-end: 3;
}
.entry div[data-id=tools] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10px;
  white-space: nowrap;
}
.entry div[data-id="actions"] {
  justify-self: end;
  color: var(--blue);
}
.entry div[data-id="actions"] [data-command] {
  margin-left: 5px;
}
.entry:not([data-state="in_progress"]) [data-id="speed"],
.entry[data-state="in_progress"]:not([data-paused="false"]) [data-id="speed"] {
  display: none;
}
.entry:not([data-state="in_progress"]) div[data-id="actions"] [data-command="pause"],
.entry[data-state="in_progress"]:not([data-paused="false"]) div[data-id="actions"] [data-command="pause"] {
  display: none;
}
.entry:not([data-state="in_progress"]) div[data-id="actions"] [data-command="resume"],
.entry[data-state="in_progress"]:not([data-paused="true"]) div[data-id="actions"] [data-command="resume"] {
  display: none;
}
.entry[data-state="in_progress"][data-paused=false] [data-command="cancel"],
.entry:not([data-state="in_progress"]) div[data-id="actions"] [data-command="cancel"] {
  display: none;
}
.entry:not([data-state="complete"]) div[data-id="actions"] [data-command="show"] {
  display: none;
}
.entry[data-state="in_progress"] [data-command="erase"] {
  display: none;
}
.entry[data-state="transfer"] div[data-id="actions"] [data-command] {
  display: none;
}

.entry div[data-id="name-container"] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10px;
}
@media screen and (max-width: 600px) {
  .entry div[data-id="name-container"] {
    grid-template-columns: 1fr;
  }
}
.entry span[data-id=name] {
  font-weight: bold;
  color: var(--blue);
  display: inline-block;
  max-width: 300px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .entry span[data-id=name] {
    max-width: unset;
  }
}
.entry span[data-id=name],
.entry a[data-id=link] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entry[data-state="interrupted"] span[data-id=name] {
  text-decoration: line-through;
  color: inherit;
  cursor: default;
}
.entry a[data-id=link] {
  color: var(--gray);
  text-decoration: none;
}
.entry span[data-id=state] {
  font-weight: bold;
}
.entry[data-state="complete"] div[data-id="progress"],
.entry[data-state="interrupted"] div[data-id="progress"] {
  display: none;
}
.entry div[data-id="progress"] {
  grid-column-start: 1;
  grid-column-end: 3;
}
.entry div[data-id="progress"] > div[data-id=partial] {
  background-color: var(--bg-gray);
  background-repeat: no-repeat;
  display: flex;
  height: 3px;
}
.entry[data-state="transfer"] div[data-id=partial] {
  display: none;
}
.entry[data-threads=false] div[data-id="progress"] > div[data-id=partial] {
  display: none;
}
.entry div[data-id="progress"] > div[data-id=total] {
  background-color: var(--bg-gray);
  display: flex;
}
.entry div[data-id="progress"] div[data-id=total] span {
  height: 3px;
  display: inline-block;
  background-color: var(--blue);
}
.entry[data-threads=false] div[data-id="progress"] div[data-id=total] span {
  height: 4px;
}
