:root {
  --front: #3c4043;
  --blue: #aecdff;
  --white: #fff;
  --bg-gray: #efefef;
}

body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  color: var(--front);
  background-color: var(--bg-gray);
  display: grid;
  grid-template-rows: 1fr min-content min-content;
}
input {
  outline: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}
input[type=submit] {
  background-color: var(--bg-gray);
  min-width: 80px;
}
input[type=button] {
  background-color: var(--white);
  min-width: 120px;
}
@media screen and (max-width: 400px) {
  input {
    padding: 10px;
  }
  input[type=button] {
    min-width: unset;
  }
}
h1 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}
@media screen and (max-width: 400px) {
  h1 {
    visibility: hidden;
  }
}

.entry {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 5px;
  white-space: nowrap;
  padding: 5px;
  margin: 5px;
  background-color: var(--white);
}
.entry input[type=number],
.entry input[type=text] {
  background-color: transparent;
}
.entry input[type=number]:focus,
.entry input[type=text]:focus {
  background-color: var(--bg-gray);
}

#list {
  overflow: auto;
  position: relative;
}
#list > input[type=submit] {
  display: none;
}
#list > div:empty::before {
  content: 'Your new downloading jobs appear here';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tools {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-gap: 10px;
  margin: 5px;
  align-items: end;
}
#new .entry input[type=number],
#new .entry input[type=text] {
  border-bottom: solid 1px var(--blue);
}
#new .entry input[type=number]:focus,
#new .entry input[type=text]:focus {
  border-bottom-color: transparent;
}
#new label {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  align-items: center;
}
#download {
  font-weight: bold;
}
